{{ '{################################################
    Layout Definitions & Variables
#################################################}'}}

{{ '{# Layout #}' }}
{{ '{% extends \'layoutAdmin.html.twig\' %}' }}

{{ '{# Sidebar: Active Link #}' }}
{{ '{% block navActive' }}{{ name | capitalize }} {{ '%} class="active" {% endblock %}' }}

{{ '{# Content-Header: Titel und optionale Description + Breadcrumps #}' }}
{{ '{% block pageHeader %}' }}
    {{ '{{ parent() }}' }}

    {{ '{# Site title #}' }}
    {{ '{% block pageHeaderTitel %}{{ titlePlural }}{% endblock %}' }}

    {{ '{# Desciption next to site title #}' }}
    {{ '{% block pageHeaderDescription %}Übersicht der {{ titlePlural }}{% endblock %}' }}

    {{ '{# Breadcrumb: Toplevel #}' }}
    {{ '{% block BreadcrumbMainLevel %}' }}
        <li><a href="{{ '{{ path(indexPath) }}' }}"><i class="fa fa-sitemap"></i>{{ '{{ title }}' }}</a></li>
    {{ '{% endblock %}' }}

    {{ '{# Breadcrumb: Sublevel #}' }}
    {{ '{% block BreadcrumbMainLevelSubOne %}{% endblock %} {# No Sublevel here #}' }}
{{ '{% endblock %}' }}

{{ '{% block content %}' }}

    <section class="content">
        <div class="box box-default">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-4">
                        <a class="btn btn-primary" href="{{ '{{ path(indexPath~\'_insert\') }}' }}">Neuer Eintrag</a>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input id="searchDefault" type="text" class="form-control" placeholder="Suche nach...">
                            <div class="input-group-addon">
                                <span class="fa fa-search"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="pull-right">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-titel">{{ '{{ title }}' }}</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-striped table-data">
                            <thead>
                            <tr>
{% for label in indexPropertyLabels %}
                                <th>{{ label }}</th>
{% endfor %}
                                <th>Bearbeiten</th>
                            </tr>
                            </thead>

                            <tbody>
                            {{ '{% for item in ' }}{{ name | lower }}{{ ' %}' }}
                                <tr>
{% for name in indexPropertyNames %}
{% set propertyFilter = indexPropertyFilters[loop.index0] %}
{% set propertyFilterParameter = indexPropertyFilterArguments[loop.index0] %}
                                    <td class="vert-align">{{ '{{ item.'}}{{ name }}{{ propertyFilter | indexFilter(propertyFilterParameter) }}{{ ' }}' }}</td>
{% endfor %}
                                    <td class="vert-align">
                                        <div class="btn-group btn-group-sm">
                                            <a href="{{ '{{ path(indexPath~\'_update\', {\''~doctrineIndexName~'\' : item.'~doctrineIndexName~' }) }}' }}" class="btn btn-default" data-tooltip="Eintrag bearbeiten" data-tooltip-position="top"><span class="glyphicon glyphicon-pencil" aria-hidden="true">&nbsp;</span>bearbeiten</a>
                                        </div>
{% if sortablePositionName is not null %}
                                        <div class="btn-group btn-group-sm">
                                            {{ '{% if item.'~sortablePositionName~' != loop.length - 1 %}' }}
                                                <a href="{{ '{{ path(indexPath~\'_down\', {\''~doctrineIndexName~'\' : item.'~doctrineIndexName~' }) }}' }}" class="btn btn-default" data-tooltip="Hinabreihen" data-tooltip-position="top"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
                                            {{ '{% endif %}' }}
                                            {{ '{% if item.'~sortablePositionName~' != 0 %}' }}
                                                <a href="{{ '{{ path(indexPath~\'_up\', {\''~doctrineIndexName~'\' : item.'~doctrineIndexName~' }) }}' }}" class="btn btn-default" data-tooltip="Hinaufreihen" data-tooltip-position="top"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
                                            {{ '{% endif %}' }}
                                        </div>
{% endif %}
                                    </td>
                                </tr>
                            {{ '{% endfor %}' }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ '{% endblock %}' }}