{{ '{% extends \'layout_backend.html.twig\' %}' }}

{{ '{% block title %}{{ title }} - {{ title }} editieren{% endblock %}' }}

{{ '{# Set active link in navigation bar #}' }}
{{ '{% block navActive'~(name | capitalize)~' %} class="active" {% endblock %}' }}

{{ '{# Content-Header #}' }}
{{ '{% block pageHeader %}' }}
    {{  '{{ parent() }}' }}
    {{ '{% block pageHeaderDescription %}{{ title }} bearbeiten{% endblock %}' }}
    {{ '{% block pageHeaderTitel %}{{ title }} - {% endblock %}' }}
    {{ '{% block BreadcrumbMainLevel %}<li><a href="{{ path(indexPath) }}"><i class="fa fa-dashboard"></i> {{ titlePlural }}</a></li>{% endblock %}' }}
    {{ '{% block BreadcrumbMainLevelSubOne %}<li class="active">{{ title }} bearbeiten</li>{% endblock %}' }}
{{ '{% endblock %}' }}

{{ '{% block content %}' }}
    <section class="content">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                {{ '{{ form_start(form) }}' }}
                {{ '{{form_widget(form) }}' }}
                <div class="bar-save pull-right">
                    <div class="btn-group">
                        <input type="submit" value="{{ '{{ title }}' }} speichern" />
                    </div>
                </div>
                {{ '{{ form_end(form) }}' }}
            </div>
            <div class="col-sm-2"></div>
        </div>
    </section><!-- /.content -->
{{ '{% endblock %}' }}